.card {
    border-radius: 20px;
}

.card-footer{
    background-color: white;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.card-img{
    position: relative;  
}

.exh-img, .exh-img-hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.exh-img-hover{
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: opacity .2s;
}

.card-img:hover .exh-img-hover {
    opacity: 1 !important;
}

.card-link{
    color: black;
    text-decoration: none;
}

.card-link:hover {
    color: rgb(126, 174, 186) !important;;
}

@media screen and (max-width: 992px) {
    .card {
        border-radius: 35px;
    }
    .exh-img, .exh-img-hover {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
}
